In [7]:
import numpy as np
import pandas as pd

In [8]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [9]:
movies = movies.merge(credits , on ='title')
movies.shape

(4809, 23)

In [10]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
# genres
# id
# keywords
# title
# overview
# cast
# crew
movies= movies[['genres','id','keywords','title','overview','cast','crew']]
movies.shape

(4809, 7)

In [12]:
movies.head(2)

,genres,id,keywords,title,overview,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [13]:
movies.isnull().sum()

genres      0
id          0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [14]:
movies.dropna(inplace=True)
movies.shape

(4806, 7)

In [15]:
movies.isnull().sum()

genres      0
id          0
keywords    0
title       0
overview    0
cast        0
crew        0
dtype: int64

In [16]:
movies.duplicated().sum()

0

In [17]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [18]:
# to change into a formet like ['A','B','C']
import json
def convertList(obj):
    A=[];
    for items in json.loads(obj):
       A.append(items['name'])
    return A;

In [19]:
movies['genres']=movies['genres'].apply(convertList)
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [20]:
movies['keywords']=movies['keywords'].apply(convertList)
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [21]:
def convertList3(obj):
    A=[];
    counter=0;
    for items in json.loads(obj):
           if(counter!=3):
             A.append(items['name'])
             counter+=1;
           else:
             break
       
    return A;

In [22]:
movies['cast']=movies['cast'].apply(convertList3)
movies.head(2)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [23]:
def getDirector(obj):
    A=[];
    for items in json.loads(obj):
           if(items['job']=='Director'):
             A.append(items['name'])
             break
    return A;

In [24]:
movies['crew']=movies['crew'].apply(getDirector)
movies.head(3)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]

In [25]:
movies.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [26]:
movies['overview']=movies['overview'].apply( lambda x : x.split(' '))

In [27]:
movies.head()

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [28]:
movies['genres']=movies['genres'].apply(lambda x: [i.replace(' ','') for i in x])
movies['keywords']=movies['keywords'].apply(lambda x: [i.replace(' ','') for i in x])
movies['cast']=movies['cast'].apply(lambda x: [i.replace(' ','') for i in x])
movies['crew']=movies['crew'].apply(lambda x: [i.replace(' ','') for i in x])

In [29]:
movies.head()

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [30]:
movies['tags']=movies['genres']+movies['keywords']+movies['overview']+movies['cast']+movies['crew']

In [31]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, c..."

In [32]:
new_df = movies.drop(['genres','keywords','overview','cast','crew'] ,axis=1)

In [33]:
new_df

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."
...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller, unitedstates–mexicob..."
4805,72766,Newlyweds,"[Comedy, Romance, A, newlywed, couple's, honey..."
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TVMovie, date, loveat..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Documentary, obsession, camcorder, crush, dre..."

In [34]:
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

,id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...

In [35]:
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())
new_df.head()

,id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure sciencefiction basedonnovel m...

In [36]:
# there can be many same works so i am applying stemming to my tags
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [37]:
def stem(text):
    y=[]
    for i in text.split(' '):
        y.append(ps.stem(i))
    return ' '.join(y)

In [38]:
new_df['tags']=new_df['tags'].apply(lambda x: stem(x))
new_df.tags[0]

'action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. samworthington zoesaldana sigourneyweav jamescameron'

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
# using beg of words algorithm
cv = CountVectorizer(max_features=5000, stop_words='english')
# converting into nu,py array
vectors= cv.fit_transform(new_df['tags']).toarray()

In [40]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
from sklearn.metrics.pairwise import cosine_similarity
similarity= cosine_similarity(vectors)

In [42]:
similarity.shape

(4806, 4806)

In [43]:
new_df['title']=='Avatar'

0        True
1       False
2       False
3       False
4       False
        ...
4804    False
4805    False
4806    False
4807    False
4808    False
Name: title, Length: 4806, dtype: bool

In [44]:
new_df[new_df['title']=='Avatar']

      id   title                                               tags
0  19995  Avatar  action adventur fantasi sciencefict culturecla...

In [45]:
new_df[new_df['title']=='Avatar'].index

Index([0], dtype='int64')

In [46]:
similarity[0]

array([1.        , 0.08458258, 0.08718573, ..., 0.04559608, 0.        ,
       0.        ])

In [47]:
enumerate(similarity[0])

In [48]:
list(enumerate(similarity[0]))

[(0, 0.9999999999999998),
 (1, 0.08458258116519013),
 (2, 0.08718572905786445),
 (3, 0.074458079104994),
 (4, 0.19184045508446734),
 (5, 0.1098436937909367),
 (6, 0.04078236951430929),
 (7, 0.1487044791289829),
 (8, 0.06003002251876642),
 (9, 0.09802861627917438),
 (10, 0.10397504898200727),
 (11, 0.09592022754223367),
 (12, 0.09158437663089952),
 (13, 0.04559607525875532),
 (14, 0.12996881122750908),
 (15, 0.06367145399670132),
 (16, 0.08000711205939975),
 (17, 0.14165281524036175),
 (18, 0.09620723036050562),
 (19, 0.08419653359482289),
 (20, 0.05881716976750462),
 (21, 0.11115400287534567),
 (22, 0.06711560552140244),
 (23, 0.0885807893036239),
 (24, 0.05405405405405406),
 (25, 0.034852515603774246),
 (26, 0.1559625734730109),
 (27, 0.18944220058835154),
 (28, 0.11810771907149853),
 (29, 0.06590621627456203),
 (30, 0.06774581282657174),
 (31, 0.16120647005479025),
 (32, 0.0863465783552691),
 (33, 0.09863939238321438),
 (34, 0.0),
 (35, 0.10067340828210367),
 (36, 0.17348855898381338),
 (37, 0.08000711205939975),
 (38, 0.08219949365267865),
 (39, 0.08336550215650926),
 (40, 0.07798128673650545),
 (41, 0.1678603981989089),
 (42, 0.0),
 (43, 0.09208185110322616),
 (44, 0.03427955850955305),
 (45, 0.08284930213349333),
 (46, 0.14097096860865022),
 (47, 0.199363055707225),
 (48, 0.08561170049453902),
 (49, 0.059053859535749265),
 (50, 0.1144727614064285),
 (51, 0.08094446585163528),
 (52, 0.1487044791289829),
 (53, 0.04355035563093422),
 (54, 0.03224129401095805),
 (55, 0.0713262951621492),
 (56, 0.14019992744655632),
 (57, 0.024507154069793594),
 (58, 0.06839411288813299),
 (59, 0.07352146220938077),
 (60, 0.0186145197762485),
 (61, 0.23490461932490855),
 (62, 0.08489527199560176),
 (63, 0.08284930213349333),
 (64, 0.03001501125938321),
 (65, 0.01979131233319198),
 (66, 0.02302046277580654),
 (67, 0.16673100431301852),
 (68, 0.1221125021745327),
 (69, 0.026846242208560973),
 (70, 0.07702442489446452),
 (71, 0.07435223956449145),
 (72, 0.1389425035941821),
 (73, 0.03355780276070122),
 (74, 0.20518233866439894),
 (75, 0.10529962529853128),
 (76, 0.07271792483455794),
 (77, 0.014588051152682587),
 (78, 0.05134961659630968),
 (79, 0.06314740019611717),
 (80, 0.05114214254947678),
 (81, 0.11168711865749101),
 (82, 0.07702442489446452),
 (83, 0.1823843010350213),
 (84, 0.12527215359889848),
 (85, 0.11565903932254226),
 (86, 0.07194017065667525),
 (87, 0.11277677488692017),
 (88, 0.09158437663089954),
 (89, 0.058352204610730346),
 (90, 0.06213697660012),
 (91, 0.16916516233038026),
 (92, 0.06314740019611717),
 (93, 0.07194017065667525),
 (94, 0.1898315991504998),
 (95, 0.14237369936287486),
 (96, 0.07798128673650545),
 (97, 0.07045670884515312),
 (98, 0.07610194341477616),
 (99, 0.027399831217559546),
 (100, 0.0685591170191061),
 (101, 0.07798128673650545),
 (102, 0.12629480039223434),
 (103, 0.08094446585163528),
 (104, 0.056388387443460086),
 (105, 0.10514994558491725),
 (106, 0.06314740019611717),
 (107, 0.06263607679944924),
 (108, 0.14704292441876157),
 (109, 0.06575959492214292),
 (110, 0.04559607525875532),
 (111, 0.1522038868295523),
 (112, 0.07897471897389846),
 (113, 0.04393747751637468),
 (114, 0.04649905549752771),
 (115, 0.04433510985214727),
 (116, 0.048478616556371965),
 (117, 0.06003002251876642),
 (118, 0.034094761699651185),
 (119, 0.04393747751637468),
 (120, 0.0),
 (121, 0.11277677488692017),
 (122, 0.11810771907149853),
 (123, 0.11290968804428622),
 (124, 0.06839411288813299),
 (125, 0.07726033486461518),
 (126, 0.13513513513513514),
 (127, 0.14797064923339878),
 (128, 0.0),
 (129, 0.09394227846020416),
 (130, 0.027399831217559546),
 (131, 0.106676149412533),
 (132, 0.04559607525875532),
 (133, 0.028618190351607124),
 (134, 0.13151918984428584),
 (135, 0.0),
 (136, 0.023728949893812478),
 (137, 0.030528125543633176),
 (138, 0.12996881122750908),
 (139, 0.12234710854292788),
 (140, 0.04559607525875532),
 (141, 0.0885807893036239),
 (142, 0.08718572905786445),
 (143, 0.08787495503274936),
 (144, 0.050734628943184104),
 (145, 0.019510570275964215),
 (146, 0.01643989873053573),
 (147, 0.056388387443460086),
 (148, 0.09863939238321438),
 (149, 0.15719549837837185),
 (150, 0.16646698038757363),
 (151, 0.2056773510573183),
 (152, 0.08458258116519013),
 (153, 0.0803381317273391),
 (154, 0.06213697660012),
 (155, 0.020712325533373332),
 (156, 0.06070834938872646),
 (157, 0.10067340828210367),
 (158, 0.13549162565314346),
 (159, 0.0644825880219161),
 (160, 0.11869522585912262),
 (161, 0.03224129401095805),
 (162, 0.03355780276070122),
 (163, 0.05134961659630968),
 (164, 0.08108108108108109),
 (165, 0.04649905549752771),
 (166, 0.12683657235796025),
 (167, 0.09158437663089954),
 (168, 0.17757120130114434),
 (169, 0.08948747402853657),
 (170, 0.10793322294408637),
 (171, 0.02302046277580654),
 (172, 0.21524880100025257),
 (173, 0.02348556961505104),
 (174, 0.07897471897389846),
 (175, 0.07194017065667525),
 (176, 0.029526929767874632),
 (177, 0.0),
 (178, 0.024784079854830485),
 (179, 0.07352146220938077),
 (180, 0.022371868507134143),
 (181, 0.04559607525875532),
 (182, 0.1186447494690624),
 (183, 0.0713262951621492),
 (184, 0.17757120130114434),
 (185, 0.05134961659630968),
 (186, 0.059808916712167495),
 (187, 0.1559625734730109),
 (188, 0.022371868507134143),
 (189, 0.1162476387438193),
 (190, 0.08561170049453902),
 (191, 0.04956815970966097),
 (192, 0.047960113771116836),
 (193, 0.07983920607777244),
 (194, 0.0),
 (195, 0.06003002251876642),
 (196, 0.05264981264926564),
 (197, 0.037470006725398436),
 (198, 0.058123819371909635),
 (199, 0.08867021970429453),
 (200, 0.11028219331407116),
 (201, 0.0),
 (202, 0.03163859985841663),
 (203, 0.08458258116519013),
 (204, 0.050734628943184104),
 (205, 0.07543142864047142),
 (206, 0.11241002017619531),
 (207, 0.07798128673650545),
 (208, 0.12427395320024),
 (209, 0.07009996372327816),
 (210, 0.07610194341477616),
 (211, 0.024784079854830485),
 (212, 0.06711560552140243),
 (213, 0.059808916712167495),
 (214, 0.0),
 (215, 0.06711560552140243),
 (216, 0.06575959492214292),
 (217, 0.0863465783552691),
 (218, 0.03874921291460643),
 (219, 0.09320546490018),
 (220, 0.18009006755629928),
 (221, 0.047960113771116836),
 (222, 0.08156473902861858),
 (223, 0.10529962529853128),
 (224, 0.06213697660011999),
 (225, 0.047457899787624956),
 (226, 0.030528125543633176),
 (227, 0.08336550215650926),
 (228, 0.11624763874381927),
 (229, 0.10892898631973956),
 (230, 0.0930725988812425),
 (231, 0.0),
 (232, 0.11277677488692017),
 (233, 0.10514994558491725),
 (234, 0.08710071126186844),
 (235, 0.07702442489446452),
 (236, 0.11624763874381927),
 (237, 0.06711560552140244),
 (238, 0.11241002017619531),
 (239, 0.09248165577087425),
 (240, 0.047457899787624956),
 (241, 0.08000711205939975),
 (242, 0.08219949365267865),
 (243, 0.09394227846020416),
 (244, 0.09320546490018),
 (245, 0.08219949365267865),
 (246, 0.07696578428840449),
 (247, 0.0),
 (248, 0.04516387521771449),
 (249, 0.14019992744655632),
 (250, 0.0),
 (251, 0.04244763599780088),
 (252, 0.02054987341316966),
 (253, 0.06590621627456203),
 (254, 0.07045670884515312),
 (255, 0.0),
 (256, 0.11314714296070713),
 (257, 0.05405405405405406),
 (258, 0.01793740008335438),
 (259, 0.06213697660012),
 (260, 0.20668850837512243),
 (261, 0.024507154069793594),
 (262, 0.10793322294408637),
 (263, 0.09863939238321438),
 (264, 0.0),
 (265, 0.027788500718836418),
 (266, 0.10028244211278005),
 (267, 0.06575959492214292),
 (268, 0.0533380747062665),
 (269, 0.03001501125938321),
 (270, 0.08948747402853657),
 (271, 0.07194017065667525),
 (272, 0.028194193721730043),
 (273, 0.021402925123634755),
 (274, 0.09097816785925636),
 (275, 0.1453095484297741),
 (276, 0.06327719971683327),
 (277, 0.05381220025006314),
 (278, 0.1186447494690624),
 (279, 0.07118684968143743),
 (280, 0.0),
 (281, 0.06590621627456203),
 (282, 0.02279803762937766),
 (283, 0.027788500718836418),
 (284, 0.0186145197762485),
 (285, 0.01979131233319198),
 (286, 0.07916524933276792),
 (287, 0.02632490632463282),
 (288, 0.027788500718836418),
 (289, 0.04649905549752771),
 (290, 0.06327719971683327),
 (291, 0.050141221056390024),
 (292, 0.09004503377814962),
 (293, 0.03001501125938321),
 (294, 0.1453095484297741),
 (295, 0.106676149412533),
 (296, 0.03929887459459296),
 (297, 0.04474373701426829),
 (298, 0.0),
 (299, 0.06025359879550432),
 (300, 0.17348855898381338),
 (301, 0.09491579957524988),
 (302, 0.07045670884515312),
 (303, 0.028194193721730043),
 (304, 0.06667259338283313),
 (305, 0.1926263261127128),
 (306, 0.08219949365267865),
 (307, 0.11022596991336672),
 (308, 0.0685591170191061),
 (309, 0.06327719971683327),
 (310, 0.03106848830006),
 (311, 0.1522038868295523),
 (312, 0.10146925788636821),
 (313, 0.055577001437672836),
 (314, 0.0),
 (315, 0.08458258116519013),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.10067340828210367),
 (320, 0.03106848830006),
 (321, 0.0),
 (322, 0.213352298825066),
 (323, 0.03001501125938321),
 (324, 0.024507154069793594),
 (325, 0.10067340828210367),
 (326, 0.05723638070321425),
 (327, 0.027399831217559546),
 (328, 0.027788500718836418),
 (329, 0.08000711205939975),
 (330, 0.10146925788636821),
 (331, 0.09119215051751065),
 (332, 0.10810810810810811),
 (333, 0.024784079854830485),
 (334, 0.09802861627917438),
 (335, 0.04697113923010208),
 (336, 0.07009996372327816),
 (337, 0.04604092555161308),
 (338, 0.0),
 (339, 0.04956815970966097),
 (340, 0.050141221056390024),
 (341, 0.08336550215650926),
 (342, 0.1633934794796094),
 (343, 0.019510570275964215),
 (344, 0.03001501125938321),
 (345, 0.023249527748763855),
 (346, 0.0),
 (347, 0.0),
 (348, 0.06213697660012),
 (349, 0.07702442489446452),
 (350, 0.04956815970966097),
 (351, 0.0),
 (352, 0.027788500718836418),
 (353, 0.041757384532966166),
 (354, 0.02196873875818734),
 (355, 0.036992662308349696),
 (356, 0.09158437663089952),
 (357, 0.0),
 (358, 0.06105625108726635),
 (359, 0.03163859985841663),
 (360, 0.02122381799890044),
 (361, 0.07610194341477616),
 (362, 0.09672388203287416),
 (363, 0.10042266465917388),
 (364, 0.023728949893812478),
 (365, 0.07610194341477616),
 (366, 0.05723638070321425),
 (367, 0.0),
 (368, 0.13151918984428584),
 (369, 0.1283740414907742),
 (370, 0.05134961659630968),
 (371, 0.09802861627917438),
 (372, 0.047960113771116836),
 (373, 0.1752499093081954),
 (374, 0.038482892144202245),
 (375, 0.06213697660011999),
 (376, 0.047457899787624956),
 (377, 0.0),
 (378, 0.0),
 (379, 0.05141933776432957),
 (380, 0.05264981264926564),
 (381, 0.08489527199560176),
 (382, 0.0),
 (383, 0.04393747751637468),
 (384, 0.029061909685954818),
 (385, 0.0),
 (386, 0.022167554926073633),
 (387, 0.023980056885558418),
 (388, 0.0),
 (389, 0.0885807893036239),
 (390, 0.02666903735313325),
 (391, 0.05733298225836872),
 (392, 0.030528125543633176),
 (393, 0.0),
 (394, 0.025070610528195012),
 (395, 0.05264981264926564),
 (396, 0.04433510985214727),
 (397, 0.05264981264926564),
 (398, 0.0),
 (399, 0.023980056885558418),
 (400, 0.09158437663089952),
 (401, 0.03106848830006),
 (402, 0.07897471897389846),
 (403, 0.08419653359482289),
 (404, 0.06213697660012),
 (405, 0.05723638070321425),
 (406, 0.021049133398705722),
 (407, 0.021586644588817275),
 (408, 0.03287979746107146),
 (409, 0.0),
 (410, 0.09913631941932194),
 (411, 0.0533380747062665),
 (412, 0.09695723311274393),
 (413, 0.14309095175803563),
 (414, 0.03001501125938321),
 (415, 0.05413539955388112),
 (416, 0.05134961659630968),
 (417, 0.03287979746107146),
 (418, 0.03587480016670876),
 (419, 0.06974858324629157),
 (420, 0.1139901881468883),
 (421, 0.02348556961505104),
 (422, 0.11810771907149853),
 (423, 0.041757384532966166),
 (424, 0.037470006725398436),
 (425, 0.06475993376645182),
 (426, 0.05446449315986979),
 (427, 0.02666903735313325),
 (428, 0.056573571480353566),
 (429, 0.0),
 (430, 0.05134961659630968),
 (431, 0.024507154069793594),
 (432, 0.11510231387903269),
 (433, 0.03163859985841663),
 (434, 0.0),
 (435, 0.03587480016670876),
 (436, 0.0),
 (437, 0.025993762245501817),
 (438, 0.12392039927415242),
 (439, 0.02666903735313325),
 (440, 0.025070610528195012),
 (441, 0.058123819371909635),
 (442, 0.04604092555161308),
 (443, 0.06475993376645182),
 (444, 0.0),
 (445, 0.10028244211278005),
 (446, 0.02348556961505104),
 (447, 0.06532553344640132),
 (448, 0.021586644588817275),
 (449, 0.11115400287534567),
 (450, 0.021586644588817275),
 (451, 0.025367314471592052),
 (452, 0.03106848830006),
 (453, 0.024784079854830485),
 (454, 0.11742784807525519),
 (455, 0.061649620239508984),
 (456, 0.04393747751637468),
 (457, 0.08718572905786445),
 (458, 0.04393747751637468),
 (459, 0.03504998186163908),
 (460, 0.024507154069793594),
 (461, 0.14309095175803563),
 (462, 0.03271662128033808),
 (463, 0.03287979746107146),
 (464, 0.0),
 (465, 0.0),
 (466, 0.14704292441876154),
 (467, 0.10701462561817378),
 (468, 0.028194193721730043),
 (469, 0.06025359879550432),
 (470, 0.04604092555161308),
 (471, 0.06475993376645182),
 (472, 0.10810810810810811),
 (473, 0.09394227846020416),
 (474, 0.0),
 (475, 0.04433510985214727),
 (476, 0.1371182340382122),
 (477, 0.0),
 (478, 0.05479966243511909),
 (479, 0.0891578689526865),
 (480, 0.09913631941932194),
 (481, 0.0),
 (482, 0.022167554926073633),
 (483, 0.12655439943366653),
 (484, 0.029526929767874632),
 (485, 0.0533380747062665),
 (486, 0.08099356774626426),
 (487, 0.1289651760438322),
 (488, 0.06746792083200746),
 (489, 0.0),
 (490, 0.14349920066683505),
 (491, 0.10042266465917388),
 (492, 0.07702442489446452),
 (493, 0.03106848830006),
 (494, 0.0),
 (495, 0.19344776406574832),
 (496, 0.0),
 (497, 0.0),
 (498, 0.0685591170191061),
 (499, 0.0),
 (500, 0.02666903735313325),
 (501, 0.08284930213349333),
 (502, 0.13678822577626595),
 (503, 0.07610194341477615),
 (504, 0.0),
 (505, 0.1371182340382122),
 (506, 0.03504998186163908),
 (507, 0.25903973506580724),
 (508, 0.10269923319261937),
 (509, 0.022371868507134143),
 (510, 0.10028244211278005),
 (511, 0.09320546490018),
 (512, 0.027788500718836418),
 (513, 0.15042366316917008),
 (514, 0.050141221056390024),
 (515, 0.025070610528195012),
 (516, 0.028618190351607124),
 (517, 0.0),
 (518, 0.04433510985214727),
 (519, 0.0),
 (520, 0.0),
 (521, 0.025367314471592052),
 (522, 0.024507154069793594),
 (523, 0.04901430813958719),
 (524, 0.0),
 (525, 0.047960113771116836),
 (526, 0.028618190351607124),
 (527, 0.03355780276070122),
 (528, 0.022581937608857246),
 (529, 0.1696751579473019),
 (530, 0.056388387443460086),
 (531, 0.04697113923010208),
 (532, 0.021586644588817275),
 (533, 0.06105625108726635),
 (534, 0.08489527199560176),
 (535, 0.09913631941932194),
 (536, 0.11399018814688831),
 (537, 0.0685591170191061),
 (538, 0.0),
 (539, 0.2537477434955704),
 (540, 0.07610194341477616),
 (541, 0.10701462561817376),
 (542, 0.037470006725398436),
 (543, 0.07194017065667525),
 (544, 0.056388387443460086),
 (545, 0.025070610528195012),
 (546, 0.0644825880219161),
 (547, 0.08458258116519013),
 (548, 0.0),
 (549, 0.12119654139092992),
 (550, 0.025070610528195012),
 (551, 0.03822198817224581),
 (552, 0.0),
 (553, 0.029061909685954818),
 (554, 0.0),
 (555, 0.04559607525875532),
 (556, 0.02702702702702703),
 (557, 0.12535305264097507),
 (558, 0.0),
 (559, 0.030528125543633176),
 (560, 0.03653310829007939),
 (561, 0.03224129401095805),
 (562, 0.03106848830006),
 (563, 0.025993762245501817),
 (564, 0.09004503377814962),
 (565, 0.04393747751637468),
 (566, 0.024239308278185982),
 (567, 0.025367314471592052),
 (568, 0.1430909517580356),
 (569, 0.047960113771116836),
 (570, 0.0685591170191061),
 (571, 0.04280585024726951),
 (572, 0.10887588907733554),
 (573, 0.021049133398705722),
 (574, 0.023728949893812478),
 (575, 0.04604092555161308),
 (576, 0.0533380747062665),
 (577, 0.20032733246124987),
 (578, 0.03796631983009995),
 (579, 0.14763464883937316),
 (580, 0.024507154069793594),
 (581, 0.14763464883937316),
 (582, 0.2484013136974297),
 (583, 0.03822198817224581),
 (584, 0.08219949365267865),
 (585, 0.024784079854830485),
 (586, 0.04559607525875532),
 (587, 0.07271792483455794),
 (588, 0.025993762245501817),
 (589, 0.1178966237837789),
 (590, 0.030528125543633176),
 (591, 0.06367145399670132),
 (592, 0.021402925123634755),
 (593, 0.0),
 (594, 0.050141221056390024),
 (595, 0.162746694241347),
 (596, 0.09394227846020416),
 (597, 0.06003002251876642),
 (598, 0.036760731104690386),
 (599, 0.027788500718836418),
 (600, 0.06974858324629157),
 (601, 0.033912921674035035),
 (602, 0.09208185110322616),
 (603, 0.05479966243511909),
 (604, 0.06711560552140244),
 (605, 0.025367314471592052),
 (606, 0.0),
 (607, 0.058531710827892644),
 (608, 0.0),
 (609, 0.047457899787624956),
 (610, 0.05881716976750462),
 (611, 0.02348556961505104),
 (612, 0.06420877537090426),
 (613, 0.03587480016670876),
 (614, 0.04956815970966097),
 (615, 0.06213697660012),
 (616, 0.03504998186163908),
 (617, 0.050734628943184104),
 (618, 0.08948747402853657),
 (619, 0.0),
 (620, 0.0),
 (621, 0.06575959492214292),
 (622, 0.021402925123634755),
 (623, 0.0),
 (624, 0.10283867552865913),
 (625, 0.03163859985841663),
 (626, 0.08336550215650926),
 (627, 0.11028219331407116),
 (628, 0.0),
 (629, 0.04901430813958719),
 (630, 0.024784079854830485),
 (631, 0.05134961659630968),
 (632, 0.07798128673650545),
 (633, 0.022581937608857246),
 (634, 0.07521183158458504),
 (635, 0.06711560552140243),
 (636, 0.023728949893812478),
 (637, 0.024507154069793594),
 (638, 0.03427955850955305),
 (639, 0.0),
 (640, 0.06070834938872646),
 (641, 0.0),
 (642, 0.0),
 (643, 0.10146925788636821),
 (644, 0.050734628943184104),
 (645, 0.04474373701426829),
 (646, 0.0533380747062665),
 (647, 0.04901430813958719),
 (648, 0.030528125543633176),
 (649, 0.0),
 (650, 0.05264981264926564),
 (651, 0.0),
 (652, 0.04355035563093422),
 (653, 0.11028219331407116),
 (654, 0.10524566699352861),
 (655, 0.024239308278185982),
 (656, 0.0),
 (657, 0.03504998186163908),
 (658, 0.04901430813958719),
 (659, 0.02567480829815484),
 (660, 0.0949157995752499),
 (661, 0.16839306718964578),
 (662, 0.0),
 (663, 0.0),
 (664, 0.06105625108726635),
 (665, 0.06906138832741962),
 (666, 0.050734628943184104),
 (667, 0.0),
 (668, 0.1371182340382122),
 (669, 0.03587480016670876),
 (670, 0.017727598712973542),
 (671, 0.06906138832741962),
 (672, 0.028618190351607124),
 (673, 0.02023611646290882),
 (674, 0.07194017065667525),
 (675, 0.04559607525875532),
 (676, 0.029061909685954818),
 (677, 0.025367314471592052),
 (678, 0.11810771907149853),
 (679, 0.0),
 (680, 0.07610194341477616),
 (681, 0.027788500718836418),
 (682, 0.02023611646290882),
 (683, 0.04901430813958719),
 (684, 0.0),
 (685, 0.03287979746107146),
 (686, 0.03224129401095805),
 (687, 0.10529962529853128),
 (688, 0.04393747751637468),
 (689, 0.0),
 (690, 0.025367314471592052),
 (691, 0.06003002251876642),
 (692, 0.11083777463036817),
 (693, 0.03427955850955305),
 (694, 0.022167554926073633),
 (695, 0.06711560552140244),
 (696, 0.02177517781546711),
 (697, 0.0),
 (698, 0.04393747751637468),
 (699, 0.03874921291460643),
 (700, 0.029061909685954818),
 (701, 0.058123819371909635),
 (702, 0.02279803762937766),
 (703, 0.02177517781546711),
 (704, 0.06906138832741962),
 (705, 0.024784079854830485),
 (706, 0.02196873875818734),
 (707, 0.0),
 (708, 0.025070610528195012),
 (709, 0.020878692266483083),
 (710, 0.058531710827892644),
 (711, 0.0533380747062665),
 (712, 0.0),
 (713, 0.025070610528195012),
 (714, 0.0),
 (715, 0.10067340828210367),
 (716, 0.027399831217559546),
 (717, 0.0),
 (718, 0.04559607525875532),
 (719, 0.0),
 (720, 0.02666903735313325),
 (721, 0.03287979746107146),
 (722, 0.0),
 (723, 0.024784079854830485),
 (724, 0.023980056885558418),
 (725, 0.0),
 (726, 0.0),
 (727, 0.03120812265889869),
 (728, 0.07352146220938079),
 (729, 0.04956815970966097),
 (730, 0.030660569226416797),
 (731, 0.05264981264926564),
 (732, 0.06906138832741962),
 (733, 0.06213697660011999),
 (734, 0.06774581282657174),
 (735, 0.06774581282657174),
 (736, 0.03001501125938321),
 (737, 0.07798128673650545),
 (738, 0.0),
 (739, 0.03874921291460643),
 (740, 0.1098436937909367),

In [49]:
sorted(list(enumerate(similarity[0])),reverse = True, key = lambda X : X[1])

[(0, 0.9999999999999998),
 (1216, 0.29061909685954823),
 (3730, 0.26401000024165),
 (507, 0.25903973506580724),
 (539, 0.2537477434955704),
 (2409, 0.2507061052819501),
 (582, 0.2484013136974297),
 (1204, 0.24784079854830487),
 (1194, 0.23995690956687135),
 (61, 0.23490461932490855),
 (778, 0.23485569615051044),
 (4048, 0.23089735286521348),
 (1920, 0.22830583024432843),
 (2786, 0.22147019900891643),
 (172, 0.21524880100025257),
 (972, 0.21369687880543226),
 (322, 0.213352298825066),
 (2333, 0.2071841649822589),
 (3608, 0.20712325533373332),
 (260, 0.20668850837512243),
 (151, 0.2056773510573183),
 (4192, 0.2056773510573183),
 (1444, 0.20549873413169661),
 (74, 0.20518233866439894),
 (1089, 0.20475971753873348),
 (3675, 0.2005648842255601),
 (577, 0.20032733246124987),
 (973, 0.20032733246124987),
 (47, 0.199363055707225),
 (2971, 0.19510570275964212),
 (942, 0.19391446622548786),
 (495, 0.19344776406574832),
 (1201, 0.19344776406574832),
 (305, 0.1926263261127128),
 (4, 0.19184045508446734),
 (4405, 0.18983159915049982),
 (94, 0.1898315991504998),
 (27, 0.18944220058835154),
 (3327, 0.18857857160117855),
 (1275, 0.18641092980036),
 (1329, 0.18641092980036),
 (2999, 0.18380365552345193),
 (3999, 0.18316875326179907),
 (83, 0.1823843010350213),
 (1071, 0.18195633571851272),
 (220, 0.18009006755629928),
 (1321, 0.17937400083354382),
 (168, 0.17757120130114434),
 (184, 0.17757120130114434),
 (2204, 0.17757120130114434),
 (4336, 0.17757120130114434),
 (931, 0.1771615786072478),
 (373, 0.1752499093081954),
 (36, 0.17348855898381338),
 (300, 0.17348855898381338),
 (3538, 0.17348855898381338),
 (3162, 0.1726931567105382),
 (1982, 0.17170914210964275),
 (529, 0.1696751579473019),
 (1831, 0.1696751579473019),
 (91, 0.16916516233038026),
 (661, 0.16839306718964578),
 (41, 0.1678603981989089),
 (67, 0.16673100431301852),
 (150, 0.16646698038757363),
 (1537, 0.1643989873053573),
 (342, 0.1633934794796094),
 (595, 0.162746694241347),
 (31, 0.16120647005479025),
 (2515, 0.16120647005479025),
 (1178, 0.1600142241187995),
 (4010, 0.15949044456578),
 (2731, 0.15819299929208316),
 (149, 0.15719549837837185),
 (838, 0.15608456220771372),
 (26, 0.1559625734730109),
 (187, 0.1559625734730109),
 (1383, 0.15404884978892908),
 (111, 0.1522038868295523),
 (311, 0.1522038868295523),
 (1344, 0.1522038868295523),
 (513, 0.15042366316917008),
 (2075, 0.15007505629691606),
 (7, 0.1487044791289829),
 (52, 0.1487044791289829),
 (2760, 0.14856672599230308),
 (127, 0.14797064923339878),
 (579, 0.14763464883937316),
 (581, 0.14763464883937316),
 (108, 0.14704292441876157),
 (1297, 0.14704292441876157),
 (466, 0.14704292441876154),
 (1396, 0.14615084586538157),
 (1479, 0.14615084586538157),
 (1938, 0.1454358496691159),
 (1355, 0.14543584966911588),
 (275, 0.1453095484297741),
 (294, 0.1453095484297741),
 (3354, 0.1453095484297741),
 (1056, 0.1438803413133505),
 (1273, 0.1438803413133505),
 (490, 0.14349920066683505),
 (1488, 0.14349920066683505),
 (413, 0.14309095175803563),
 (461, 0.14309095175803563),
 (2496, 0.14309095175803563),
 (568, 0.1430909517580356),
 (95, 0.14237369936287486),
 (17, 0.14165281524036175),
 (46, 0.14097096860865022),
 (3409, 0.14097096860865022),
 (1965, 0.14059173052284343),
 (56, 0.14019992744655632),
 (249, 0.14019992744655632),
 (1327, 0.14019992744655632),
 (3781, 0.14019992744655632),
 (72, 0.1389425035941821),
 (859, 0.1389425035941821),
 (2169, 0.1389425035941821),
 (4538, 0.13812277665483924),
 (476, 0.1371182340382122),
 (505, 0.1371182340382122),
 (668, 0.1371182340382122),
 (935, 0.1371182340382122),
 (3982, 0.1371182340382122),
 (843, 0.13699915608779772),
 (1808, 0.13699915608779772),
 (4348, 0.13678822577626598),
 (502, 0.13678822577626595),
 (1322, 0.13657399193174952),
 (777, 0.1354916256531435),
 (158, 0.13549162565314346),
 (126, 0.13513513513513514),
 (1560, 0.13513513513513514),
 (1373, 0.1342312110428049),
 (2378, 0.1342312110428049),
 (2584, 0.1342312110428049),
 (4079, 0.13334518676566626),
 (2133, 0.13300532955644181),
 (1015, 0.1316245316231641),
 (2181, 0.1316245316231641),
 (3622, 0.1316245316231641),
 (134, 0.13151918984428584),
 (368, 0.13151918984428584),
 (1774, 0.13151918984428584),
 (2873, 0.13065106689280268),
 (14, 0.12996881122750908),
 (138, 0.12996881122750908),
 (937, 0.12996881122750908),
 (1086, 0.12996881122750908),
 (2686, 0.12996881122750908),
 (4230, 0.12996881122750908),
 (487, 0.1289651760438322),
 (773, 0.1289651760438322),
 (2970, 0.1289651760438322),
 (369, 0.1283740414907742),
 (1741, 0.12734290799340264),
 (2480, 0.12734290799340264),
 (166, 0.12683657235796025),
 (754, 0.12683657235796025),
 (2450, 0.12683657235796025),
 (3628, 0.12683657235796025),
 (483, 0.12655439943366653),
 (1096, 0.12655439943366653),
 (1158, 0.12655439943366653),
 (102, 0.12629480039223434),
 (557, 0.12535305264097507),
 (84, 0.12527215359889848),
 (208, 0.12427395320024),
 (1878, 0.12427395320024),
 (2652, 0.12427395320024),
 (3376, 0.12427395320024),
 (438, 0.12392039927415242),
 (1299, 0.12392039927415242),
 (2331, 0.12329924047901797),
 (2674, 0.12329924047901797),
 (3083, 0.12329924047901797),
 (139, 0.12234710854292788),
 (68, 0.1221125021745327),
 (781, 0.1221125021745327),
 (1004, 0.1221125021745327),
 (1274, 0.1221125021745327),
 (1658, 0.1221125021745327),
 (1002, 0.12141669877745292),
 (549, 0.12119654139092992),
 (870, 0.12119654139092992),
 (900, 0.12119654139092992),
 (3235, 0.1211965413909299),
 (1047, 0.12006004503753284),
 (1833, 0.12006004503753284),
 (2060, 0.12006004503753284),
 (2741, 0.12006004503753284),
 (4673, 0.12006004503753284),
 (1673, 0.11961783342433499),
 (1715, 0.11961783342433499),
 (2789, 0.11961783342433499),
 (3721, 0.11961783342433499),
 (4000, 0.11961783342433499),
 (160, 0.11869522585912262),
 (182, 0.1186447494690624),
 (278, 0.1186447494690624),
 (1617, 0.1186447494690624),
 (2284, 0.1186447494690624),
 (28, 0.11810771907149853),
 (122, 0.11810771907149853),
 (422, 0.11810771907149853),
 (678, 0.11810771907149853),
 (589, 0.1178966237837789),
 (454, 0.11742784807525519),
 (2547, 0.11742784807525519),
 (1497, 0.11706342165578529),
 (3212, 0.1166080974034697),
 (189, 0.1162476387438193),
 (228, 0.11624763874381927),
 (236, 0.11624763874381927),
 (1220, 0.11624763874381927),
 (1301, 0.11624763874381927),
 (85, 0.11565903932254226),
 (432, 0.11510231387903269),
 (1418, 0.11510231387903269),
 (50, 0.1144727614064285),
 (1616, 0.1144727614064285),
 (536, 0.11399018814688831),
 (420, 0.1139901881468883),
 (889, 0.11394547734377711),
 (3147, 0.11389895949029985),
 (256, 0.11314714296070713),
 (808, 0.11314714296070713),
 (1348, 0.11314714296070713),
 (1575, 0.11314714296070713),
 (1512, 0.11290968804428624),
 (123, 0.11290968804428622),
 (2372, 0.11290968804428622),
 (3309, 0.11290968804428622),
 (87, 0.11277677488692017),
 (121, 0.11277677488692017),
 (232, 0.11277677488692017),
 (4468, 0.11277677488692017),
 (206, 0.11241002017619531),
 (238, 0.11241002017619531),
 (81, 0.11168711865749101),
 (1574, 0.11168711865749101),
 (3428, 0.11115400287534569),
 (21, 0.11115400287534567),
 (449, 0.11115400287534567),
 (1031, 0.11115400287534567),
 (1945, 0.11115400287534567),
 (3008, 0.11115400287534567),
 (692, 0.11083777463036817),
 (200, 0.11028219331407116),
 (627, 0.11028219331407116),
 (653, 0.11028219331407116),
 (1524, 0.11028219331407116),
 (307, 0.11022596991336672),
 (5, 0.1098436937909367),
 (740, 0.1098436937909367),
 (3093, 0.1098436937909367),
 (3630, 0.1098436937909367),
 (786, 0.10959932487023819),
 (3498, 0.10959932487023819),
 (4777, 0.10959932487023819),
 (229, 0.10892898631973956),
 (572, 0.10887588907733554),
 (939, 0.10827079910776224),
 (332, 0.10810810810810811),
 (472, 0.10810810810810811),
 (1237, 0.10810810810810811),
 (170, 0.10793322294408637),
 (262, 0.10793322294408637),
 (1166, 0.10762440050012628),
 (1501, 0.10762440050012628),
 (1745, 0.10762440050012628),
 (2161, 0.10762440050012628),
 (2634, 0.10762440050012628),
 (4135, 0.10762440050012628),
 (467, 0.10701462561817378),
 (1496, 0.10701462561817378),
 (541, 0.10701462561817376),
 (131, 0.106676149412533),
 (295, 0.106676149412533),
 (2072, 0.106676149412533),
 (3340, 0.106676149412533),
 (2498, 0.1061190899945022),
 (75, 0.10529962529853128),
 (223, 0.10529962529853128),
 (687, 0.10529962529853128),
 (814, 0.10529962529853128),
 (1195, 0.10529962529853128),
 (1771, 0.10529962529853128),
 (2148, 0.10529962529853128),
 (2817, 0.10529962529853128),
 (654, 0.10524566699352861),
 (2439, 0.10524566699352861),
 (105, 0.10514994558491725),
 (233, 0.10514994558491725),
 (2323, 0.10514994558491725),
 (2456, 0.10514994558491725),
 (2521, 0.10514994558491725),
 (3621, 0.10514994558491725),
 (3055, 0.10514994558491723),
 (3839, 0.10514994558491723),
 (1455, 0.10439346133241542),
 (10, 0.10397504898200727),
 (1082, 0.10397504898200727),
 (3152, 0.10397504898200727),
 (3634, 0.10397504898200727),
 (3755, 0.10397504898200727),
 (3874, 0.10397504898200727),
 (4097, 0.10397504898200727),
 (2106, 0.10356162766686666),
 (624, 0.10283867552865913),
 (2762, 0.10283867552865913),
 (3663, 0.10283867552865913),
 (3954, 0.10283867552865913),
 (3441, 0.10274936706584831),
 (508, 0.10269923319261937),
 (1294, 0.10269923319261937),
 (1614, 0.10269923319261937),
 (2247, 0.10269923319261937),
 (1405, 0.10195592378577323),
 (1439, 0.10195592378577323),
 (2099, 0.1019559237857732),
 (312, 0.10146925788636821),
 (330, 0.10146925788636821),
 (643, 0.10146925788636821),
 (988, 0.10146925788636821),
 (1037, 0.10146925788636821),
 (35, 0.10067340828210367),
 (157, 0.10067340828210367),
 (319, 0.10067340828210367),
 (325, 0.10067340828210367),
 (715, 0.10067340828210367),
 (1077, 0.10067340828210367),
 (1280, 0.10067340828210367),
 (1884, 0.10067340828210367),
 (2053, 0.10067340828210367),
 (4018, 0.10067340828210367),
 (4198, 0.10067340828210367),
 (4490, 0.10067340828210367),
 (363, 0.10042266465917388),
 (491, 0.10042266465917388),
 (266, 0.10028244211278005),
 (445, 0.10028244211278005),
 (510, 0.10028244211278005),
 (3620, 0.10028244211278005),
 (3783, 0.10028244211278005),
 (3935, 0.10028244211278005),
 (1775, 0.09968152785361249),
 (410, 0.09913631941932194),
 (480, 0.09913631941932194),
 (535, 0.09913631941932194),
 (898, 0.09913631941932194),
 (1109, 0.09913631941932194),
 (1401, 0.09913631941932194),
 (1823, 0.09913631941932194),
 (2253, 0.09913631941932194),
 (33, 0.09863939238321438),
 (148, 0.09863939238321438),
 (263, 0.09863939238321438),
 (878, 0.09863939238321438),
 (1156, 0.09863939238321438),
 (1727, 0.09863939238321438),
 (1942, 0.09863939238321438),
 (2787, 0.09863939238321438),
 (4256, 0.09863939238321438),
 (4403, 0.09863939238321438),
 (4472, 0.09863939238321438),
 (9, 0.09802861627917438),
 (334, 0.09802861627917438),
 (371, 0.09802861627917438),
 (412, 0.09695723311274393),
 (2241, 0.09695723311274393),
 (2556, 0.09695723311274393),
 (4545, 0.09687303228651607),
 (362, 0.09672388203287416),
 (791, 0.09672388203287416),
 (2562, 0.09672388203287416),
 (4203, 0.09672388203287416),
 (18, 0.09620723036050562),
 (11, 0.09592022754223367),
 (1276, 0.09491579957524991),
 (1357, 0.09491579957524991),
 (1692, 0.09491579957524991),
 (2488, 0.09491579957524991),
 (2592, 0.09491579957524991),
 (2650, 0.09491579957524991),
 (2820, 0.09491579957524991),
 (3720, 0.09491579957524991),
 (4343, 0.09491579957524991),
 (4502, 0.09491579957524991),
 (660, 0.0949157995752499),
 (920, 0.0949157995752499),
 (1474, 0.0949157995752499),
 (1573, 0.0949157995752499),
 (1686, 0.0949157995752499),
 (1721, 0.0949157995752499),
 (2396, 0.0949157995752499),
 (2645, 0.0949157995752499),
 (3537, 0.0949157995752499),
 (4331, 0.0949157995752499),
 (301, 0.09491579957524988),
 (129, 0.09394227846020416),
 (243, 0.09394227846020416),
 (473, 0.09394227846020416),
 (596, 0.09394227846020416),
 (813, 0.09394227846020416),
 (1446, 0.09394227846020416),
 (1701, 0.09394227846020416),
 (3407, 0.09394227846020416),
 (785, 0.09367501681349609),
 (219, 0.09320546490018),
 (244, 0.09320546490018),
 (511, 0.09320546490018),
 (980, 0.09320546490018),
 (1756, 0.09320546490018),
 (2093, 0.09320546490018),
 (2651, 0.09320546490018),
 (3736, 0.09320546490018),
 (230, 0.0930725988812425),
 (799, 0.0930725988812425),
 (239, 0.09248165577087425),
 (2570, 0.09248165577087425),
 (43, 0.09208185110322616),
 (602, 0.09208185110322616),
 (997, 0.09208185110322616),
 (1233, 0.09208185110322616),
 (1846, 0.09208185110322616),
 (3389, 0.09208185110322616),
 (3881, 0.09208185110322616),
 (88, 0.09158437663089954),
 (167, 0.09158437663089954),
 (12, 0.09158437663089952),
 (356, 0.09158437663089952),
 (400, 0.09158437663089952),
 (1306, 0.09158437663089952),
 (1480, 0.09158437663089952),
 (2251, 0.09158437663089952),
 (2957, 0.09158437663089952),
 (331, 0.09119215051751065),
 (2363, 0.09119215051751065),
 (2796, 0.09119215051751065),
 (2856, 0.09119215051751065),
 (3462, 0.09119215051751065),
 (4353, 0.09119215051751065),
 (274, 0.09097816785925636),
 (1906, 0.09032775043542898),
 (2115, 0.0902256659231352),
 (292, 0.09004503377814962),
 (564, 0.09004503377814962),
 (1027, 0.09004503377814962),
 (2660, 0.09004503377814962),
 (2868, 0.09004503377814962),
 (3322, 0.09004503377814962),
 (3448, 0.09004503377814962),
 (169, 0.08948747402853657),
 (270, 0.08948747402853657),
 (618, 0.08948747402853657),
 (1783, 0.08948747402853657),
 (2109, 0.08948747402853657),
 (2713, 0.08948747402853657),
 (2740, 0.08948747402853657),
 (3553, 0.08948747402853657),
 (479, 0.0891578689526865),
 (199, 0.08867021970429453),
 (752, 0.08867021970429453),
 (1832, 0.08867021970429453),
 (2448, 0.0886379935648677),
 (23, 0.0885807893036239),
 (141, 0.0885807893036239),
 (389, 0.0885807893036239),
 (745, 0.0885807893036239),
 (794, 0.0885807893036239),
 (960, 0.0885807893036239),
 (1249, 0.0885807893036239),
 (1259, 0.0885807893036239),
 (3449, 0.0885807893036239),
 (143, 0.08787495503274936),
 (827, 0.08787495503274936),
 (1530, 0.08787495503274936),
 (2880, 0.08787495503274936),
 (3556, 0.08787495503274936),
 (4516, 0.08787495503274936),
 (4587, 0.08787495503274936),
 (2, 0.08718572905786445),
 (142, 0.08718572905786445),
 (457, 0.08718572905786445),
 (775, 0.08718572905786445),
 (1378, 0.08718572905786445),
 (2583, 0.08718572905786445),
 (3135, 0.08718572905786445),
 (4754, 0.08718572905786445),
 (234, 0.08710071126186844),
 (1019, 0.08710071126186844),
 (2354, 0.08710071126186844),
 (32, 0.0863465783552691),
 (217, 0.0863465783552691),
 (894, 0.08585457105482137),
 (1142, 0.08585457105482137),
 (1589, 0.08585457105482137),
 (2304, 0.08585457105482137),
 (4560, 0.08585457105482137),
 (1097, 0.08585457105482136),
 (48, 0.08561170049453902),
 (190, 0.08561170049453902),
 (1305, 0.08561170049453902),
 (1639, 0.08561170049453902),
 (2968, 0.08561170049453902),
 (62, 0.08489527199560176),
 (381, 0.08489527199560176),
 (534, 0.08489527199560176),
 (1698, 0.08489527199560176),
 (3180, 0.08489527199560176),
 (3218, 0.08489527199560176),
 (3978, 0.08489527199560176),
 (4737, 0.08489527199560176),
 (1, 0.08458258116519013),
 (152, 0.08458258116519013),
 (203, 0.08458258116519013),
 (315, 0.08458258116519013),
 (547, 0.08458258116519013),
 (1688, 0.08458258116519013),
 (2128, 0.08458258116519013),
 (2386, 0.08433490104000933),
 (19, 0.08419653359482289),
 (403, 0.08419653359482289),
 (3905, 0.08419653359482289),
 (2203, 0.08351476906593233),
 (39, 0.08336550215650926),
 (227, 0.08336550215650926),
 (341, 0.08336550215650926),
 (626, 0.08336550215650926),
 (787, 0.08336550215650926),
 (1207, 0.08336550215650926),
 (1749, 0.08336550215650926),
 (2167, 0.08336550215650926),
 (2661, 0.08336550215650926),
 (3140, 0.08336550215650926),
 (3301, 0.08336550215650926),
 (3470, 0.08336550215650926),
 (45, 0.08284930213349333),
 (63, 0.08284930213349333),
 (501, 0.08284930213349333),
 (812, 0.08284930213349333),
 (38, 0.08219949365267865),
 (242, 0.08219949365267865),
 (245, 0.08219949365267865),
 (306, 0.08219949365267865),
 (584, 0.08219949365267865),
 (866, 0.08219949365267865),
 (901, 0.08219949365267865),
 (1269, 0.08219949365267865),
 (1519, 0.08219949365267865),
 (1664, 0.08219949365267865),
 (2339, 0.08219949365267865),
 (2644, 0.08219949365267865),
 (2671, 0.08219949365267865),
 (2865, 0.08219949365267865),
 (2877, 0.08219949365267865),
 (3527, 0.08219949365267865),
 (3926, 0.08219949365267865),
 (4492, 0.08219949365267865),
 (4568, 0.08219949365267865),
 (4626, 0.08219949365267865),
 (4641, 0.08219949365267865),
 (4654, 0.08219949365267865),
 (4657, 0.08219949365267865),
 (222, 0.08156473902861858),
 (164, 0.08108108108108109),
 (854, 0.08108108108108109),
 (899, 0.08108108108108109),
 (1325, 0.08108108108108109),
 (1747, 0.08108108108108109),
 (2683, 0.08108108108108109),
 (3764, 0.08108108108108109),
 (3816, 0.08108108108108109),
 (3851, 0.08108108108108109),
 (486, 0.08099356774626426),
 (51, 0.08094446585163528),
 (103, 0.08094446585163528),
 (1534, 0.08094446585163528),
 (2792, 0.08094446585163528),
 (4506, 0.08094446585163528),
 (153, 0.0803381317273391),
 (1898, 0.0803381317273391),
 (16, 0.08000711205939975),
 (37, 0.08000711205939975),
 (241, 0.08000711205939975),
 (329, 0.08000711205939975),
 (1080, 0.08000711205939975),
 (1161, 0.08000711205939975),
 (2295, 0.08000711205939975),
 (3233, 0.08000711205939975),
 (4316, 0.08000711205939975),
 (193, 0.07983920607777244),
 (776, 0.07974522228289),
 (1045, 0.07974522228289),
 (1828, 0.07974522228289),
 (1926, 0.07974522228289),
 (3728, 0.07974522228289),
 (3832, 0.07974522228289),
 (4279, 0.07974522228289),
 (4473, 0.07974522228289),
 (286, 0.07916524933276792),
 (1659, 0.07916524933276792),
 (112, 0.07897471897389846),
 (174, 0.07897471897389846),
 (402, 0.07897471897389846),
 (922, 0.07897471897389846),
 (1113, 0.07897471897389846),
 (2938, 0.07897471897389846),
 (3028, 0.07897471897389846),
 (3091, 0.07897471897389846),
 (3102, 0.07897471897389846),
 (3164, 0.07897471897389846),
 (4341, 0.07897471897389846),
 (1924, 0.07859774918918593),
 (3560, 0.07859774918918593),
 (1282, 0.07804228110385686),
 (40, 0.07798128673650545),
 (96, 0.07798128673650545),
 (101, 0.07798128673650545),
 (207, 0.07798128673650545),
 (632, 0.07798128673650545),
 (737, 0.07798128673650545),
 (1289, 0.07798128673650545),
 (2219, 0.07798128673650545),
 (4268, 0.07798128673650545),
 (4624, 0.07798128673650545),
 (850, 0.07749842582921286),
 (1005, 0.07749842582921286),
 (1139, 0.07749842582921286),
 (1254, 0.07749842582921286),
 (1621, 0.07749842582921286),
 (2165, 0.07749842582921286),
 (2274, 0.07749842582921286),
 (2712, 0.07749842582921286),
 (3430, 0.07749842582921286),
 (4165, 0.07749842582921286),
 (125, 0.07726033486461518),
 (70, 0.07702442489446452),
 (82, 0.07702442489446452),
 (235, 0.07702442489446452),
 (349, 0.07702442489446452),
 (492, 0.07702442489446452),
 (1290, 0.07702442489446452),
 (1523, 0.07702442489446452),
 (2449, 0.07702442489446452),
 (2916, 0.07702442489446452),
 (4558, 0.07702442489446452),
 (246, 0.07696578428840449),
 (2005, 0.07644397634449163),
 (3331, 0.07632031385908294),
 (98, 0.07610194341477616),
 (210, 0.07610194341477616),
 (361, 0.07610194341477616),
 (365, 0.07610194341477616),
 (540, 0.07610194341477616),
 (680, 0.07610194341477616),
 (1009, 0.07610194341477616),
 (1293, 0.07610194341477616),
 (2163, 0.07610194341477616),
 (4045, 0.07610194341477616),
 (4205, 0.07610194341477616),
 (503, 0.07610194341477615),
 (2256, 0.0759326396601999),
 (205, 0.07543142864047142),
 (800, 0.07543142864047142),
 (995, 0.07543142864047142),
 (1323, 0.07543142864047142),
 (1521, 0.07543142864047142),
 (1770, 0.07543142864047142),
 (2326, 0.07543142864047142),
 (2551, 0.07543142864047142),
 (2801, 0.07543142864047142),
 (3069, 0.07543142864047142),
 (3117, 0.07543142864047142),
 (3126, 0.07543142864047142),
 (4011, 0.07543142864047142),
 (4412, 0.07543142864047142),
 (4542, 0.07543142864047142),
 (634, 0.07521183158458504),
 (885, 0.07521183158458504),
 (1070, 0.07521183158458504),
 (2395, 0.07521183158458504),
 (3701, 0.07521183158458504),

In [50]:
sorted(list(enumerate(similarity[0])),reverse = True, key = lambda X : X[1])[1:6]

[(1216, 0.29061909685954823),
 (3730, 0.26401000024165),
 (507, 0.25903973506580724),
 (539, 0.2537477434955704),
 (2409, 0.2507061052819501)]

In [51]:
def recommend(movie):
    movie_ind = new_df[new_df['title']==movie].index[0]
    distance = similarity[movie_ind]
    movie_list = sorted(list(enumerate(distance)),reverse = True, key = lambda X : X[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [52]:
recommend('Batman')

Batman
Batman & Robin
Batman Begins
Batman Returns
The R.M.

In [53]:
import pickle

In [54]:
pickle.dump(new_df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))